
/* Box-sizing reset: //w3bits.com/?p=3225*/
html {
  box-sizing: border-box;
}
/*
*,
*:before,
*:after {
  box-sizing: inherit;
  color: #fff;
}*/

body {
  margin-top: 55px;
  margin-bottom: 55px;
}


.carousel-inner img {
  margin: auto;
}


.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.card-columns.custom-columns {
  column-count: 1;
}

@media (min-width: 700px)
{
  .card-columns.custom-columns {
    column-count: 2;
  }
}

.card-columns.custom-columns[min-width~="1000px"] {
  column-count: 3;
}

.card-columns.custom-columns[min-width~="501px"] {
  column-count: 2;
}
.card-columns.custom-columns[max-width~="500px"] {
  column-count: 1;
}
.content-underconstruction {
  display: flex;
  background-image: url('/images/UnderConstruction.jpg');
  height: calc(100vh - 55px - 55px);
  justify-content: center;
  align-items: center;
  color: white;
}

#githubIcon {
  width: 32px;
}
